body {
    margin: 30px 60px;
    min-height: 100vh;
    background-color: beige;
    font-size: 20px;
    font-family: Tahoma;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: brown;
    align-items: center;
    height: 50px;
    margin-top: 30px;
    color: white;
}

main {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    /* border: solid green 2px; */
}

main img {
    margin-right: 20px;
}

a {
    color: brown;
    text-decoration: none;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#intro h2 {
    margin-top: 0;
}

#intro p {
    margin-bottom: 0;
}

#info {
    display: flex;
    margin-top: 15px;
}

#info div {
    margin-right: 40px;
}

#imgs {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#imgs div {
    border: solid brown 10px;
    width: 150px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: brown;
    font-size: 40px;
}

hr {
    height: 2px;
    background-color: black;
}

footer {
    margin-top: 20px;
}

#red-text {
    color: red;
}

form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

form * {
    margin-bottom: 10px;
    height: 30px;
    width: 300px;
}

form button {
    margin-top: 20px;
    height: 40px;
}

